@import 'variables';

/****************************************
 *	Grid
 ****************************************/

html{
  font-size: 62.5%;
  font-family: Arial,sans-serif;
}

body{
  overflow-x: hidden;
}

main{
  position: relative;
  z-index: 0;

  &.foreground{
    z-index: -2;
  }

}

.size_content{
  width: 920px;
  margin: auto;
  max-width: 100vw;
}

.section__header{
  height: 35px;
  margin-bottom: 40px;

  & .section__title{
    float: left;
  }

}

.section__form {
  float: right;

  & label {
    font-size: 1.4rem;
    padding-right: 6px;
  }

  & select {
    width: 115px;
    font-size: 1.3rem;
    padding: 6px;
  }

}

.products__list{

  & .products__item{
    width: 179px;
    height: 216px;
    background: #efefef;
    border-bottom: 4px solid #d6d6d6;
    position: relative;
    float: left;
    margin-bottom:10px;

    &:not(:last-child){
      margin-right: 6px;
    }

    &.low_stock{
      border-bottom-color: $red;

      & footer{
        color: $red;
      }
    }

    & .product{
      height: 100%;

      & .product__header{
        color: $black;
        height: 200px;

        & .product__img{
          background: #e6e6e6;
          height: 105px;
          position: relative;
          overflow: hidden;

          & img{
            width: 152%;
            height: auto;
          }

        }

        & .product__h1{
          font-size: 1.6rem;
          line-height: 1.7rem;
          padding: 15px 15px 0 15px;
        }

        & .product__p{
          padding: 10px 15px;
        }

      }

      & .product__footer{
        height: 18px;

        & .product__p{
          text-align: right;
          font-weight: bold;
          padding-right: 10px;
        }

      }

    }

  }

}

.list__item{

  & article{
    height: 100%;
  }

  &:not(:last-child){
    height: 76px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 25px;
  }

  &:last-child{
    height: 100px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 15px;
  }

}

/********************
 *	Specials elements
 ********************/

header.primary{
  border-bottom: 1px solid white;
  background-color: $blue;

  & .size_content{
    height: 100px;
  }

}

.featured-article{
  background: url(../images/velo-entete.png) center;
  background-size: 110%;
  background-position: 45% 100%;
  background-repeat: no-repeat;
  background-color: $blue;
  z-index: -1;
  position: relative;

  & .size_content{
    height: 400px;

    & .featured-article__content{
      height: 100%;
      padding: 50px 0;
      box-sizing: border-box;
      position: relative;
    }

  }

}

.bestseller{

  padding: 43px 0 50px 0;

  & .size_content{
    height: 330px;
  }

}

.news{
  position: relative;
  background: $green;
  padding: 40px 0 50px 0;


  & .size_content {
    height: 337px;
    overflow: hidden;
  }

  & .section__header{
    margin-bottom: 0px;
  }

}

.orders {
  padding: 50px 0;

  & .size_content {
    height: 485px;
  }

  & .section__header{
    margin-bottom:25px;
  }

  & .historic {
    float: left;
    width: 435px;
    height: 100%;
    position: relative;

    & .visuels-commande {
      height: 100%;
      position: relative;

      & .visuel-profil {
        display: block;
        height: 100%;
        width: 25%;
        float: left;
      }

      & .infos-commande {
        height: 100%;
        float: left;
        width: 51.5%;
      }

      & p:last-child {
        margin-top: 15px;
      }

    }

  }

  & .formations {
    float: left;
    margin-left: 50px;
    width: 435px;
    height: 100%;

    & .infos-formation{
      float: left;
      margin-left: 20px;
    }

  }
}

.graphique {
  position: relative;
  background: $red;
  padding: 40px;

  & .size_content{
    height: 315px;
  }

  & .section__header{
    margin-bottom: 20px;
  }


  & figure{
    height: 100%;
    width: 90%;
    margin: auto;
    position: relative;

    & img{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }

  }

  & img{
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
  }

  & p{
    font-size: 1.4rem;
    color: $white;
    font-weight: bold;
    margin-top: 11px;
    float: left;

  }

  & form{
    float: right;
    margin-right: 50px;
  }

  & label{
    font-size: 1.4rem;
    padding-right: 6px;
    margin-left: 25px;
    color: $white;
  }

  & select{
    width: 122px;
    font-size: 1.3rem;
    padding: 6px;
    background: transparent;
    color: $white;
    border-color: $white;
  }


}

.all{

  padding: 75px 0 85px 0;

  & .size_content{
    height: 360px;
    position: relative;
  }

}

/********************
FOOTER
*********************/

body>footer{
  background:$blue;
  height: 170px;
  padding: 50px 0;

  & nav{
    float: left;
    width: 25%;
    height: 100%;
  }

  & ul{
    height: 100%;
  }

  & li{
    margin: 6px 0px;
  }

  & p{
    font-size: 1.4rem;
    color: $white;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 35px;
  }

  & a{
    font-size: 1.4rem;
    color: $white;
    font-weight: normal;
    text-decoration: none;
  }

}

/********************
 *	Elements
 ********************/

button, .button{
  position: absolute;
  width: 150px;
  height: 34px;
  text-align: left;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 93% 50%;
  box-sizing: border-box;
  padding: 9px;
}

article:hover>div>button{
  visibility: visible;
}

.article__button--white{
  border: 1px solid $white;
  bottom: 50px;
  color: $white;
  background-image: url('../images/Flèche.png');
}

.diagonale-sup:before{
  content: "";
  background-image: url(../images/Background-vert.png);
  width: 100%;
  height: 45px;
  display: block;
  position: absolute;
  top: -45px;
  background-size: cover;
  left: 0;
}

.diagonale-inf:after{
  content: "";
  background-image: url(../images/Background-rouge.png);
  width: 100vw;
  height: 41px;
  display: block;
  left: 0;
  position: absolute;
  bottom: -40px;
  background-size: cover;
}

.historic .button{
  border: 1px solid #d6d6d6;
  width: 100px;
  background-color: #fff;
  color: #555;
  right: 0;
  top:12px;
  text-decoration: none;
  background-image: url(../images/Flèche-grise.png);
}

.all button{
  bottom:0;
  width: 170px;
  background-image: url(../images/Flèche-grise.png);
}

.button.see-more{
  bottom: 0;
  right: initial;
  top: initial;
  width: 128px;
  text-decoration: none;
  text-align: center;
}

input{
  width: 216px;
  font-size: 1.3rem;
  padding: 4px 6px 6px 10%;
  height: 35px;
  box-sizing: border-box;
  margin-top: 2px;
  border: 1px solid #d6d6d6;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: 4%;
  margin-right: 20px;
}