@import 'variables';

/****************************************
 *	Primary nav
 ****************************************/

.header__nav{

  & .nav__list{
    list-style: none;
    padding:0;
  }
  & .nav__tab{
    display: inline-block;
    font-size: 1.5rem;
    height: 95px;
    line-height: 103px;
    white-space: nowrap;
    border-bottom: 0 solid transparent;

    &:hover {
      border-bottom: 5px solid $white;
    }
  }
  & .nav__tab--active{
    border-bottom: 5px solid $white;
  }
  & .nav__link{
    text-decoration: none;
    color: white;
  }
}

.header__nav--left{
  float: left;

  & .nav__tab:not(:last-child){
    margin-right: 24px;
  }

  & .nav__link{
    opacity:0.6;
  }

  & .nav__tab--active .nav__link{
    opacity:1;
  }

}

.header__nav--right{
  float: right;

  & .nav__tab:not(:last-child) .nav__link{
    position: relative;
  }
  & .nav__tab:not(:last-child) .nav__link:after{
    content: "|";
    right: -21px;
    position: absolute;
  }
  & .nav__tab .nav__link img{
    margin-left: 5px;
  }
  & .nav__tab:not(:last-child){
    margin-right: 35px;
  }
}


/****************************************
 *	Footer nav
 ****************************************/