@media screen and (max-width:1440px) {

}

@media screen and (max-width:1024px) {

  .size_content {
    width: 740px;
  }

  .bestseller .size_content, .all .size_content {
    height: auto;

    & .products__list {
      display: block;
      overflow: hidden;
    }

  }

  .news .size_content, #slider,#slider .slider__slides,#slider .slider__item,#slider .slide__content {
    height: auto;
  }

  .slider__slides {
    min-height: 365px;
  }

  .slider .slider__item .slide__content .content__image{
    float: none;
   margin: auto;
  }

  .slider .slider__item .slide__content .content__text{
    float: none;
    margin-right: auto;
    margin-left:auto;
    margin-top: 20px;
    text-align: center;

  }
  
  #slider button{
    position: initial;
    margin-top:20px;
    margin-bottom:30px;
  }

  #slider{
    height: 100%;

    & .slider__slides{
      margin-bottom: 20px;
    }

  }

  .orders{

    & .size_content{
      overflow: hidden;
      height: auto;
    }

    & .historic{
      margin: auto;
      float: initial;
    }

    & .formations{
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      float: initial;
    }

  }


}

@media screen and (max-width:768px) {

  .size_content{
    width:100%;
  }

  .section__header{

    height:auto;

    & .section__title{
      float: initial;
      text-align: center;
    }

    & .section__form{
      float: initial;
      text-align: center;
      margin: 20px 0;
    }

  }

  .bestseller, .all {
    padding: 43px 40px 50px 40px;
  }

  .featured-article .size_content .featured-article__content{
    padding:125px 40px;
    text-align: center;

    & h1{
      font-size: 2.8rem;
      margin-bottom: 20px;
    }

    & p{
      font-size: 1.5rem;
    }

    .button{
      display: block;
      position: relative;
      bottom: initial;
      margin: auto;
      margin-top: 40px;
    }

  }

  .news{
    padding:40px 40px 50px 40px;

    & .slider .slider__item .slide__content{
      width:100%;
    }

  }

  .orders {
    padding: 50px 40px;

    & .list__item{
      height: auto;

      &:last-child{
        padding-bottom: 50px;
      }

      & .list__link{
        display: block;
        margin-bottom: 20px;
        float: none;
        text-decoration: none;

        & .visuel-profil{
          float: none;
          margin: auto;
          width: 90px;
          height: 70px;
        }

        & .visuel-formation{
          float: none;
          margin: auto;
        }

        & .infos-commande, .infos-formation{
          float: none;
          width: 100%;
          text-align: center;
          margin-left: 0;
        }

      }

      & .button{
        float: none;
        right: initial;
        top: initial;
        position: initial;
        text-align: center;
        margin: 20px auto;
        display: block;
        width: 150px;
      }

    }


  }

  body>footer{
    padding:50px 40px;
    height: auto;

  }


  .site-pusher, .site-container { height: 100%; }

  .site-pusher {
    transition-duration: 0.3s;
    transform: translateX(0px);
  }

  .primary { position: static; padding: 0 40px; }

  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer; }

  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 2rem;
    height: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translate3d(0,-50%,0);
    box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white; }

  .header__nav--left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
    background-color: #2a378b;
    width: 70%;
    transform: translateX(-100%);
    height: 100vh;
  }

  .header__nav--left a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #303f9f;
  }

  .with--sidebar .site-pusher {
    transform: translateX(70%);
  }

  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
  }

  .header__nav--left .nav__list{
    height:100vh;

    & .nav__tab{
      display: block;
      margin:0;
      height:auto;

      &.nav__tab--active{

        background: #303f9f;
        border-bottom: none;

      }

      &:hover{
        border-bottom: none;
      }

    }

  }

  .header__nav--right .nav__tab{
    height: 100px;
    line-height: 100px;

    & .nav__link.logout{
      color: transparent;
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/VisualEditor_-_Icon_-_Close_-_white.svg/2000px-VisualEditor_-_Icon_-_Close_-_white.png);
      display: block;
      width: 20px;
      height: 20px;
      background-size: cover;
      top: 50%;
      position: relative;
      transform: translateY(-50%);
    }

  }

  .user-photo img{
    position: initial;
  }

  .orders .historic, .orders .formations{
    width:100%;
    text-align: center;
  }


  .historic .button{
    float: none;
    right: initial;
    position: relative;
    top: -25px;
    left: inherit;
  }

  .graphique select:nth-child(2){
    margin-bottom: 20px;
  }

  .section__form input{
    width: 100%;
    height:35px;
    box-sizing: border-box;
  margin-bottom: 20px;
  }

  .all .products__list{
    padding-bottom: 50px;
  }

}

@media screen and (max-width:480px) {

  .section__header{
    height:auto;
    overflow: hidden;
  }

  .products__list .products__item{
    width: 100%;
    height: 300px;
  }

  .products__list .products__item .product .product__header{
    height:282px;
  }

  .products__list .products__item .product .product__header .product__img{
    height:50%;
  }

  .products__list .products__item .product .product__header .product__img img{
    width: 130%;

    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    transform: translate3d(-50%,-50%,0);

  }

  .slider .slider__item .slide__content .content__image, .slider .slider__item .slide__content .content__text{
    width: 80%;
  }

  body>footer nav{
    width:100%;
    float: initial;
    text-align: center;

    &:not(:last-child){
      margin-bottom: 40px;
    }

  }

}

@media screen and (max-width:320px) {

  .section__form{
    float: left;
    margin-top: 15px;
  }

}

