@import 'variables';

/********************
  SLIDER
*********************/

.slider{
  height: 300px;
  position: relative;

  & .left-arrow-background{
    background-image: url(../images/fleche-gauche-blanche.png);
    display: block;
    width: 20px;
    height: 36px;
    position: absolute;
    top: 105px;
    z-index: 10;
    left: 0;

    &:hover img{
      position:relative;
      top: -3px;
      transition: ease-in 1s;
    }

  }

  & .right-arrow-background{

    display: block;
    width: 20px;
    height: 36px;
    position: absolute;
    top: 105px;
    z-index: 10;
    right: 0;

    &:hover img{
      position:relative;
      top: -3px;
      transition: ease-in 1s;
    }
  }



  & .arrow{

    z-index: 10;

  }

  & .slider__slides{
    position: relative;
    height: 180px;
    padding-top: 30px;
    overflow: hidden;
  }

  & .slider__item{
    position: absolute;
    height: 180px;
    width: 100%;

    & .slide__content{
      margin: auto;
      width: 760px;
      height: 100%;

      & .content__image{
        width: 350px;
        height: 180px;
        float: left;
        position: relative;
        background: #1acc50;

        & > div{

          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden;
          top:-30px;
          left: 30px;

        }

        & img{
          width: auto;
          height: 100%;
          position: absolute;
          left: -65px;
          top: -180px;
          opacity: 0;
          z-index: 2;
        }

      }

      & .content__text{
        float: left;
        width: 360px;
        margin-left: 50px;
        height: 180px;
        position: relative;
        top: -180px;
        opacity: 0;

        & .content__button{
          border: 1px solid $grey-dark;
          bottom: 0px;
          color: $grey-dark;
          background-image: url('../images/Flèche-grise.png');
        }

        & .content__h1{
          font-size: 1.8rem;
          font-weight: normal;
          color: $grey-dark;
          margin-bottom: 25px;
          position: relative;
          margin-top: 5px;
        }

        & .content__p{
          font-size: 1.4rem;
          color: $grey-dark;
          line-height: 1.7rem;
          position: relative;
        }

      }

    }

  }

  & .nav__buttons{
    height: 52px;
    position: absolute;
    bottom: 0;
    width: 170px;

    & li{
      display: inline-block;
    }

    & .nav__link{
      display: inline-block;
      border-radius: 50%;
      border: 1px solid $white;
      vertical-align: middle;
      overflow: hidden;
      position: relative;
      width: 40px;
      height: 40px;
      margin: 0 5px;

      & img{
        left: -35px;
      }

    }

    & .nav__link--active{
      width: 50px;
      height: 50px;

      & img{
        left: -15px;
      }

    }

    & img{
      height: 100%;
      position: absolute;
    }

  }

}

.slider .slider__item-0{

  & .slide__content {

    & .content__image{

      & > div{
        top:0px;
        left: 0px;
      }

      & img{
        top: 0;
        opacity: 1;
      }

    }

    & .content__text{

      top: 0;
      opacity: 1;

    }

  }


}