@import 'variables';

/****************************************
 *	Texts
 ****************************************/

/********************
 *	Titles
 ********************/

h1{
  font-family : Arial, sans-serif;
  font-weight: bold;
  line-height: 1rem;
}
h2{
  font-size: 2.4rem;
  color: $black;
}

.article__title{
  font-size: 1.4rem;
  color: $grey-medium;
  margin-bottom: 8px;
}

.article__subtitle{
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 5px;
}

.article__description{
  color: #555555;

  & span{
    font-weight: bold;
  }

}

.featured-article{

  & h1{
    color: $white;
    font-size: 1.4rem;
    padding-bottom: 11px;
  }

  & p{
    color: $white;
    margin: 0.5rem 0;
  }
}

.news{

  & .section__title{
      font-size: 1.4rem;
      text-align: center;
      color: $grey-dark;
      font-weight: bold;
      float: inherit;
  }

}

.orders{

  & .section__title{
    font-size: 1.8rem;
  }

  & .formations .article__title{
    margin-bottom: 15px;
  }

}

.graphique{

  & .section__title{
    font-size: 1.4rem;
    color: $white;
    font-weight: 700;
  }

}

/********************
 *	Texts
 ********************/

p{
  font-size : 1.1rem;
  line-height: 1rem;
}

/********************
 *	Lists
 ********************/



/********************
 *	Link
 ********************/

button, .button{
  font-size: 1.4rem ;
}
