/****************************************
 *	Variables
 ****************************************/

/********************
 *	Colors
 ********************/

$blue : #170cff;
$green : #0cff56;
$red : #ff3f0c;
$black : #555;
$grey-light : #d6d6d6;
$grey-medium : #555555;
$grey-dark : #212121;
$white : #fff;
