@import 'variables';

/****************************************
 *	Visuals
 ****************************************/

.user-photo{
  overflow: hidden;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  float: left;

  & img{
    position: absolute;
    left: -6px;
    top: -5px;
    min-height: 115%;
  }

}

.etat-commande{
  float: left;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: -15px;
  z-index: 2;
  position: relative;

  & img{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }

}

.on-info{

  & .etat-commande{
    background: #ff3f0c;
  }

  & .user-photo{
    border: 1px solid #ff3f0c;
  }

  & p:last-child{
    color: #ff3f0c;
    font-weight: bold;
  }


}

.on-delivery{

  & .etat-commande{
    background: #d6d6d6;
  }

  & .user-photo{
    border: 1px solid #d6d6d6;
  }

  & p:last-child{
    color: #d6d6d6;
    //font-weight: bold;
  }


}

.valid{

  & .etat-commande{
    background: #0cff56;
  }

  & .user-photo{
    border: 1px solid #0cff56;
  }

  & p:last-child{
    color: #0cff56;
    font-weight: bold;
  }


}

.visuel-formation {
  overflow: hidden;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  float: left;

  & img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

}